body {
  background-color: rgb(86, 150, 206);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

dl {
  width: 60%;
  margin: auto;
  border: 2px solid black;
  margin-top: 2rem;
}

dt {
  background-color: aliceblue;
  padding: 1rem;
  font-weight: bold;
}

dd {
  padding: 1rem;
}

p {
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid rgb(192, 192, 192);
  text-align: center;
}

ul {
  width: 70%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding-left: 4rem;
  border: 2px solid rgb(192, 192, 192);
}

a {
  display: block;
  margin: auto;
  text-align: center;
  padding: 1rem;
}
