/* This is a CSS Comment */
/* ? Question comment */
/* ! alert comment */
/* todo comment */
/* * Regular comment */

body
{
    background-color: rgb(125, 190, 226);
}
h1
{
    color: rgb(255, 255, 255);
    background-color: rgb(81, 141, 174);
    padding: 1rem;
}
ul
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}